  <div class="container">
    <div class="row">
      <div class="col text-center">
        <!-- <img src="../images/1.PNG"> -->
        <!-- <img src="./images/1.PNG"> -->
        <img src="images/1.PNG" class="img-thumbnail rounded-circle">
        <h1 class="display-4">Saiful</h1>
        <p class="lead">Tes 1 | Tes 2</p>
      </div>
    </div>
  </div>