<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Web Server</title>
</head>
<body>
    <h1>Yo!</h1>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
    </ul>

    <% const nama = 'Saiful'; %>
    <h2>Halo <%= nama %> !</h2>
    <h5> <%= npm %> </h5>

    <h3>Daftar Mahasiswa</h3>
    <% if (mahasiswa.length < 0) { %>
        <p>Tidak ada data mahasiswa</p>
    <% } else { %>
        <% mahasiswa.forEach(mhs => { %>
            <ul>
                <li>
                    Nama: <%= mhs.nama %>
                </li>
                <li>
                    Nama: <%= mhs.npm %>
                </li>
            </ul>
        <% }) %>
    <% } %>

</body>
</html>